@import '../../styles/mixins/Section';
@import '../../styles/variables';
@import '../../styles/mixins/mediaQueries.scss';
@import '../../styles/mixins/HeaderMixins';

.sectionContainer {
    @include section;
    margin: 0;
    @include smMax {
        justify-content: center;
    }

}

.fluid {
    padding: 0;
    overflow-x: hidden;
}

.testimonalContainer {
    display: block;
    margin: 80px 0;
    @include smMax {
        display: block;
        padding: 30px;
    }
}

.subHeader {
    @include HeaderH2($gray-1);
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    &:before {
        content: '';
        width: 100px;
        display: block;
        height: 1px;
        background: $gray-1;
        top: -6px;
        left: 0;
        align-self: center;
        margin-right: 10px;
        margin-top: 3px;
    }
}