@import '../../../styles/variables';

button {
    padding: 10px 20px;
    background-color: $main-green;
    color: #fefefe;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.20px;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    border: none;
    width: 150px;
    height: 50
}