button {
    padding: 10px 20px 10px 20px;
    background-color: none;
    color: #fefefe;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.20px;
    background-color:#000942;
    border-radius: 3px;
    outline: none;
    transition: .3s ease;
}

button:hover {
    background-color: #070f3fd7;
    transition: .3s ease;
    color: #fefefe;
}