@import '../../styles/mixins/Section';
@import '../../styles/variables';

.btnContainer {
    display: block;
    margin-top: 20px;
}

.formContainer {
    position: relative;
    .contactForm {
        background-color: #fefefe;
        padding: 40px;
        width: 450px;
        box-shadow: 0px 0px 20px 0px rgba(148,148,148,0.75);
        position: relative;
    }
}

.options {
    margin: 80px 0;
    svg {
        stroke: $main-green;
        fill: $main-green;
    }
}