@import '../../styles/mixins/Section';
@import '../../styles/variables';


.mainInput {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 28px;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 20px;
    border: 2px solid $light-green;
    color:  $main-green;
    &:last-of-type {
        margin-bottom: 0;
    }
    &:focus, &:active {
        border: 2px solid $main-green;
        outline: none;
    }
}
