@import '../../styles/mixins/Section';
@import '../../styles/variables';


.mainInput {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    color: $main-dark;
    font-size: 18px;
    line-height: 28px;
}
