@import '../../../styles/variables';
@import '../../../styles/mixins/ParagraphMixin.scss';
@import '../../../styles/mixins/HeaderMixins.scss';

.teamMemberWrapper {
    .memberProfile {
        width: 180px;
        height: 180px;
        background-size: contain;
    }
    .memberMeta {
        margin-top: 20px;
    }
    h6 {
        @include HeaderH2($main-green);
        font-weight: normal;
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.1px;
    }
    p {
        @include p;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    .linkList {
        list-style-type: none;
        display: grid;
        li {
            a {
                svg {
                    stroke: $main-green;
                }
            }
        }
    }
}
