/* COLORS  */
$main-green: #5abd79;
$light-green: #c8e9d2;
$main-dark: #44465f;
$gray-1: #727590;

/* BREAKPOINTS */
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;