@import '../../styles/variables.scss';
@import '../../styles/mixins/mediaQueries.scss';

.topHeader {
    &.homePage {
        margin: 0;
        padding: 80px;
        background-color: $light-green;
    }
    height: 50px;
    background: rgba($color: #FFFFFF, $alpha: 1.0);
    overflow: hidden;
    padding: 20px 0;
    margin: 0 80px;
    padding-bottom: 80px;
    .header {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: minmax(20px,auto);
        grid-template-columns: repeat(3,1fr);
        grid-gap: 8px;
    }
    .logo {
        list-style-type: none;
        img {
            max-width: 50px;
            border-radius: 100%;
            border-right: 4px solid $main-green;
            border-bottom: 4px solid $main-green;
            border-left: 1px solid $main-green;
        }
    }
    .headerList {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: minmax(20px,auto);
        grid-template-columns: repeat(3, 150px);
        grid-gap: 8px;
        align-content: center;
        list-style: none;
        text-align: center;
        padding: 10px;
        @include smMax {
            display: none;
        }
    }
    .menuRight {
        list-style-type: none;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        @include smMax {
            display: none;
        }
    }
}