@import '../../../styles/mixins/mediaQueries.scss';

.sectionWrapper {
    @include smMax {
        padding: 30px;
    }
    display: block;
    &.heroWrapper {
        height: 100vh;
        @include smMax {
            height: unset;
        }
    }
    .textContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include smMax {
            // margin: 80px 0;
        }
    }
}