@import '../../../styles/mixins/mediaQueries.scss';

.sectionWrapper {
    @include smMax {
        padding: 30px;
    }
    display: block;
    .textContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}