@import '../../../styles/mixins/mediaQueries.scss';

.imageWrapper {
    position: relative;
    @include smMax {
        display: flex;
        justify-content: center;
    }
    img {
        @include smMax {
            max-width: 300px;
        }
    }
    .sImage {
        position: absolute;
        top: -30px;
    }
}
