@import '../../../src/styles/variables';
@import '../../../src/styles/mixins/mediaQueries.scss';
@import '../../../src/styles/mixins/HeaderMixins.scss';
@import '../../../src/styles/mixins/ParagraphMixin.scss';

@keyframes slide-bottom{0%{transform:translateY(-50px)}100%{transform:translateY(0px)}}

.aboutusContainer {
    .image {
        padding: 60px;
    }
    padding: 80px 0;
    @include smMax {
        padding: 0;
        margin: 0;
    }
    .textContainer {
        justify-content: flex-start;
        padding: 80px;
        @include smMax {
            padding: 0;
            margin: 0;
        }
    }
    .subHeader {
        @include HeaderH2($gray-1);
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
        display: flex;
        &:before {
            content: '';
            width: 100px;
            display: block;
            height: 1px;
            background: $gray-1;
            top: -6px;
            left: 0;
            align-self: center;
            margin-right: 10px;
            margin-top: 3px;
        }
    }
    .arrowContainer {
        display: flex;
        justify-content: flex-start;
        padding-top: 20px;
        @include smMax {
            padding-top: 0;
            display: flex;
            justify-content: center;
        }
        svg {
            animation:slide-bottom 1.5s cubic-bezier(.25,.46,.45,.94) .5s infinite both
        }
    }
    .paragraph {
        @include p;
        max-width: unset;
    }
}