@import '../../styles/variables.scss';
@import '../../styles/mixins/ParagraphMixin';

.burgerButton {
    position: absolute;
    width: 36px;
    height: 30px;
    top: 25px;
    left: 10px;
}

.menu {
    background-color: $light-green;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    * {
        &:focus {
            outline: none;
        }
    }
}

.menuContainer {
    nav {
        a {
            text-align: left;
            text-transform: uppercase;
            @include p;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

.logo {
    border-radius: 100%;
}