@import '../../../styles/mixins/ParagraphMixin';
@import '../../../styles/variables';

.menuItem {
    a {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        font-weight: 600;
    }
    font-family: 'Roboto', sans-serif;
    color: $main-dark;
    position: relative;
    &:hover {
        cursor: pointer;
        font-weight: 600;
        color: $main-green;
    }
}