@import '../../../styles/mixins/ParagraphMixin';
@import '../../../styles/variables';

.menuItem {
    @include p;
    position: relative;
    &:after {
        content: '';
        width: -webkit-fill-available;
        height: 3px;
        position: absolute;
        bottom: -10px;
        display: flex;
        height: 3px;
        background: rgba($color: $main-green, $alpha: .2);
    }
    &:hover {
        cursor: pointer;
        font-weight: 600;
        &:after {
            content: '';
            background: none;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .6s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%235abd79' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
            background-position: bottom;
            background-repeat: repeat-x;
            background-size: 20%;
            border-bottom: 0;
            padding-bottom: .3em;
            text-decoration: none;
            width: -webkit-fill-available;
            height: 3px;
            position: absolute;
            bottom: -10px;
            display: flex;
            transition: all .4s ease;
        }
    }
}