@import '../../styles/mixins/ParagraphMixin';

.footerWrapper {
    padding: 60px 0;
    margin: 0 80px;
    min-height: 600px;
    background: rgba($color: #FFFFFF, $alpha: 1.0);
    overflow: hidden;
    .socialContainer {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 40px 0px;
            display: inline-flex;
            li {
                margin-right: 20px;
            }
        }
    }
    .legalContainer {
        max-width: 60%;
        small {
            line-height: 2;
        }
        p, small {
            color: #a8aabc;
            @include p;
            margin: 10px 0px;
        }
    }
    .footerNavContainer {
        padding: 40px 0px;
    }
}