.footerWrapper {
    padding: 60px 0;
    min-height: 600px;
    background: rgba($color: #FFFFFF, $alpha: 1.0);
    overflow: hidden;
    .socialContainer {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: inline-flex;
        }
    }
    .legalContainer {
        p, small {
            color: #a8aabc;
        }
    }
}