@import '../../styles/mixins/mediaQueries.scss';

.testimonialWrapper {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    ul {
        @include smMax {
            grid-template-columns: repeat(2, 150px);
        }
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: minmax(20px,auto);
        grid-template-columns: repeat(5, 150px);
        grid-gap: 8px;
        align-content: center;
        list-style: none;
        text-align: center;
        padding: 10px;
        column-gap: 50px;
        row-gap: 50px;
    }
}