/* reset */
* {
  margin: 0;
  padding: 0;
}

/* fonts */

@import url('https://fonts.googleapis.com/css?family=KoHo|Roboto&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
