@import '../variables';

@mixin HeaderH1($color) {
    font-family: 'KoHo', sans-serif;
    color: $color;
    max-width: 450px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    font-size: 60px;
    letter-spacing: -1px;
}